@import "bootstrap/bootstrap";
@import "custom/variables";

.navbar-scrolled {
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        background-color: #fff
}

.navbar-scrolled .navbar-nav .nav-link {
  color: #000; 
}
.navbar-nav .nav-link {
  font-weight: 600;
}
.navbar-brand {
  font-weight: 600;
}

#mainNav {
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background-color: #fff;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-weight: 700;
}

#mainNav .navbar-nav .nav-item .nav-link:active,#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: $super-green
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: $super-green!important
}

@media (min-width: 768px) {
  #mainNav {
      -webkit-box-shadow:none;
      box-shadow: none;
      background-color: transparent
  }

  #mainNav .navbar-nav .nav-item .nav-link {
      color: rgba(255,255,255,.7);
      padding: 0 1rem
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fff
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0
  }

  #mainNav.navbar-scrolled {
      -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
      background-color: #fff
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
      color: $super-green
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
      color: #212529
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
      color: $super-green
  }
}



.bg-head {
  background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,
  rgba(92,77,66,.8) 100%),
  url(../images/head.jpg);
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
}

body {
  position: relative;
}

.page-section {
  padding: 8rem 0;
}